:root {
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  line-height: 1.5;
  color: #1f2a3d;
  background-color: #f4f6fb;
}

* {
  box-sizing: border-box;
}

html,
body,
#app {
  margin: 0;
  width: 100%;
  height: 100%;
}

.app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}



.demo-editor {
  width: 100%;
  height: 100%;
}
