@font-face {
  font-family: "iconfont"; /* Project id 5087053 */
  src: url('iconfont.woff2?t=1767073220697') format('woff2'),
       url('iconfont.woff?t=1767073220697') format('woff'),
       url('iconfont.ttf?t=1767073220697') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xingzhuang-juxing:before {
  content: "\eb97";
}

.icon-shuzhi:before {
  content: "\e6c1";
}

.icon-xianduan:before {
  content: "\e6ce";
}

.icon-yulan:before {
  content: "\e7b9";
}

.icon-tubiao:before {
  content: "\e606";
}

.icon-tupian:before {
  content: "\e620";
}

.icon-wenzi:before {
  content: "\e732";
}

.icon-xinjian:before {
  content: "\e626";
}

.icon-qingkong:before {
  content: "\e946";
}

.icon-shanchu:before {
  content: "\e8b6";
}

.icon-jia:before {
  content: "\e600";
}

.icon-baocun:before {
  content: "\e936";
}

.icon-daochu:before {
  content: "\e663";
}

.icon-daoru:before {
  content: "\e65e";
}

.icon-huanyuan:before {
  content: "\e640";
}

.icon-menu-fold:before {
  content: "\ea25";
}

.icon-icon_image:before {
  content: "\e67d";
}

.icon-icon_chart:before {
  content: "\e645";
}

.icon-jichukongjian:before {
  content: "\e67e";
}

.icon-icon-relativity:before {
  content: "\e618";
}

.icon-root-list:before {
  content: "\e629";
}

.icon-control-platform:before {
  content: "\e9c6";
}

.icon-icon-yonghu:before {
  content: "\e68c";
}

.icon-a-shezhi:before {
  content: "\e607";
}

