@font-face {
  font-family: "iconfont"; /* Project id 5087053 */
  src: url('iconfont.woff2?t=1765852652967') format('woff2'),
       url('iconfont.woff?t=1765852652967') format('woff'),
       url('iconfont.ttf?t=1765852652967') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jia:before {
  content: "\e600";
}

.icon-baocun:before {
  content: "\e936";
}

.icon-daochu:before {
  content: "\e663";
}

.icon-daoru:before {
  content: "\e65e";
}

.icon-huanyuan:before {
  content: "\e640";
}

.icon-menu-fold:before {
  content: "\ea25";
}

.icon-icon_image:before {
  content: "\e67d";
}

.icon-icon_chart:before {
  content: "\e645";
}

.icon-jichukongjian:before {
  content: "\e67e";
}

.icon-icon-relativity:before {
  content: "\e618";
}

.icon-root-list:before {
  content: "\e629";
}

.icon-control-platform:before {
  content: "\e9c6";
}

.icon-icon-yonghu:before {
  content: "\e68c";
}

.icon-a-shezhi:before {
  content: "\e607";
}

